<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= album_name %></title>
    <link rel="stylesheet" href="/public/css/album.css">
    <script>
        const __album_id = "<%= album_id %>"
    </script>
    <script defer src="/public/js/album.js"></script>
</head>
<body>
    <header>
        <a href="/albums"><img src="/public/icons/left-arrow.svg" alt="Go Back" class="back-btn"></a>
        <h1><%= album_name %></h1>
    </header>
    <main>
        
    </main>

</body>
</html>