@import url('/public/css/variables.css');
    
* {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-light);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 72px;
    gap: 20px;
    background-color: var(--bg-dark);
    border-bottom: var(--border);
}

.back-btn {
    padding: 10px;
    height: 18px;
    border-radius: 50%;
}
.back-btn:hover
{
    cursor: pointer;
    background-color: var(--bg-lighter);
}

h1 {
    font-weight: 300;
    color: white;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 10px;
}


.image 
{
    aspect-ratio: 1;

    background-color: var(--bg-lighter);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}